.stopwatch-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer-display {
    display: flex;
    color: rgb(140, 150, 242);
}
